.auth-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #FF6005;
}

.auth-card {
    display: flex;
    width: 1000px;
    height: 400px;
    border-radius: 15px;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}


.auth-content {
    display: flex;
    width: 100%;
}

.auth-left, .auth-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.logo {
    margin-top: -25px !important;
    width: 500px !important;
    height: 200px !important;
}

.welcome-line {
    width: 40%;
    border: 0;
    border-top: 3px solid #122740;
    margin: 10px 0px;
}

.welcome-text, .auth-title {
    margin-top: 30px;
    font-size: 2rem;
    -webkit-text-fill-color: #FF6005;
    /* color: #FF6005; */
    /* margin-bottom: 20px; */
}

.auth-field {
    margin-top: 20px;
}

.auth-buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.auth-button:not(.MuiButton-outlined) {
    margin-left: 10px;
}
