/* App.css */
.logo {
  width: 120px;
  height: 31px;
  /* background: #FF6005; */
  margin: 16px 28px 16px 0;
  float: left;
}

.header {
  background: #FF6005;
  padding: 40px;
  margin-bottom: 50px;
}

.slider {
  background: #FF6005;
  padding: 40px;
}

.site-layout-background {
  background: #ffffff;
}

.avatar-section {
  text-align: center;
  margin-bottom: 20px;
}

.info-section {
  margin-bottom: 20px;
}